{:schema "etzhayyim.migration/v1" :source {:repository "etzhayyim/root" :revision "1316716c6b4bc3b1cba8c0188557b732ceffa054" :path "60-apps/etzhayyim-project-yadoya" :tree "1d10706e4cef5e6e10f7a346c2f7b80bcf3ccc79" :tracked-files 37 :bytes 78795} :destination {:repository "etzhayyim/com-etzhayyim-app-yadoya"} :identity {:allowed-additions ["README.edn" "migration.edn"]}}
